<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>

    <body>
        <div>
          <nav>
            <a href="./homepage">Welcome to Gabble</a>
            <a href="/signup">Create an Account</a>
            <a href="/login">Log In</a>
            <a href="/newgab">Create a new gab</a>
            <a href="/likes">Likes</a>

          </nav>
        </div>
      {{{yield}}}
     </body>
</html>
